<header class="top">
	<div class="container">
	  <a href="./index.html" class="logo-link" aria-label="Foodsta logo">
		<svg class="logo-icon" width="66" height="52">
		  <use href="./img/icons.svg#icon-logo"></use>
		</svg>
	  </a>
	  <nav class="top-navigation">
		<ul class="navigation-list general-list list">
		  <li class="navigation-item item">
			<a href="" class="navigation-link link">Home</a>
		  </li>
		  <li class="navigation-item item">
			<a href="" class="navigation-link link">About</a>
		  </li>
		  <li class="navigation-item item">
			<a href="" class="navigation-link link">Service</a>
		  </li>
		  <li class="navigation-item item">
			<a href="" class="navigation-link link">Menu</a>
		  </li>
		  <li class="navigation-item item">
			<a href="" class="navigation-link link">Contact</a>
		  </li>
		</ul>
	  </nav>
	  <button type="button" class="green-button button" data-modal-open>
		Order Now
	  </button>
	</div>
  </header>
